

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color: #FD6E0A;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.btn-primary {
    background-color: #FD6E0A;
    font-weight: 700;
    border: none;
    color: white;
    font-size: 20px;
    padding: 18px 35px ;
    border-radius: 5px;
}



.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.dark-2{
    color:#474747
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
}

.banner-tit{
    color:#474747;
    font-size: 45px;
    font-weight: 400;

    

}
.banner-greting {
    color: #181818;
    font-size: 85px;
    font-weight: bold;


}

.ban {
    width: 582px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin-right: 235px;
}
.banner-content {
    max-width: 585px;
    
    
}
.head {
    
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
    
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color:#181818
}
.section-description{
    font-size: 18px;
    color:#757575

}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.secondary-bg{
    background-color:#FFF3F4
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.item-description{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.text-center{
    text-align: center;
    font-weight: bold;
    font-size: 18px;

}
.skill-contain{
    display: flex;
    gap:24px;

}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px black;
}
/* resume style */
.resume-container{
    display: flex;
    gap: 24px;
}
.download{
    text-align: center;
    margin-top: 50px;
}

/* footer style */
footer{
    padding: 130px 386px;
    display: flex;
    gap: 117px;
}
.footer-column{
    width: 50%;
}

footer input[type="text"],footer input[type="email"],footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: block;
    border: none;
    width: 100%;
    margin-bottom: 24px;
    padding: 10px 20px;

}